<nav class="site-title">
  <div>
    <a href="/"><h1>Ble Blog</h1></a>
    <p>A Ble-Ble Website</p>
  </div>
  <ul>
    <li><a href="/">Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>